<a routerLink="test">Test</a>
<br>
<a routerLink="test2">Test2</a>

<router-outlet></router-outlet>

<h1>{{ title }}</h1>

<div>
  <label>First name:</label>
  <input [(ngModel)]="user.firstName" type="text">
  <br/>
  <label>Last name:</label>
  <input [(ngModel)]="user.lastName" type="text" />
  <br/>
  <label>Email address:</label>
  <input [(ngModel)]="user.emailAddress" type="email" />
  <br/>
  <button
    mat-raised-button
    color="primary"
    (click)="onSave()"
    >
    Save
  </button>
</div>

<ul *ngFor="let user of users">
  <li>First Name: {{user.firstName}}</li>
  <li>Last Name: {{user.lastName}}</li>
  <li>Email: {{user.emailAddress}}</li>
</ul>
